#main-bio {
	color:blue;
}

#links {
	font-weight: bold
}

body {
	background-color: #efeee7;
	font: "Georgia", Times New Roman, Times, serif;
	color:#333333;
	
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}